@model ToDoApp.Models.Task

@{
    ViewData["Title"] = "Edit";
}

<h3>Edit task</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TaskId" />
            <div class="form-group" style="width: 40em;">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" class="form-control" id="content1"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
                <input type="hidden" asp-for="Color" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><i class="fas fa-arrow-left"></i> Back to Tasks</a>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var editor = CKEDITOR.replace("content1");
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
