/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.task__container {
    margin: 1em 1em;
    font-size: 20px;
    position: relative;
    resize: vertical;
    min-height: 4em;
    overflow: hidden;
    padding-top: 1em;
}
.add-task {
    margin-top: 3em;
    color: grey;
    margin-bottom: 3em;
}
.add-task__icon {
    font-size: 30px;
}
.add-task__text {
    font-size: 20px;
}
.tasks__container {
    cursor: pointer;
}
.icon-delete {
    color: red;
}
.icon-delete:hover {
    color: darkred;
}
.right-icons {
    position: absolute;
    right: .5em;
    top: 0;
    visibility: hidden;
}
.task__container:hover .right-icons {
    visibility: visible;
}
.text__container {
    width: 100%;
    text-align: center;
    background: none;
    border: none;
    color: black;
    min-height: 4em;
    margin-bottom: -0.3em;
}
.left-icons {
    position: absolute;
    left: .5em;
    top: 0;
    visibility: hidden;
}
.task__container:hover .left-icons {
    visibility: visible;
}
.click-to-lift {
    position: absolute;
    left: .5em;
    bottom: 0;
    visibility: hidden;
    color: grey;
    font-size: 15px;
}
.task__container:hover .click-to-lift {
    visibility: visible;
}
